
<div class="col-md-4">
<%= render 'searchrest' %>
</div>
<% if params[:question] %>
  <div class="col-md-8">
  <h1><strong>Search Results</strong></h1><br/><br/>
  <% if @questions.present? %>
    <%= render 'displayquestions' %>
  <%else%>
  
    No results found!
  <% end %>
  </div>
<% else %>
  <div class="col-md-7">
  <h1><strong>Recent Questions</strong></h1><br/><br/>
    <% @questions.each do |question| %>
       <%= render 'displayquestions' %>
    <% end %>

  </div>

<% end %>