
<div class="col-md-4">
<%= render 'searchrest' %>
</div>

<div class="col-md-7">
<% if @question.errors.any? %>
<div class="alert alert-error">
   <a href="#" data-dismiss="alert" class="close">×</a>
  <% @question.errors.full_messages.each do |msg| %>
  <ul>
    <li><%= msg %></li>
  </ul>
  <% end %>
<% end %> 
</div>
<h1>New  Question</h1>
<%= render 'form' %>
</div>
