/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';
html, body {
  height:100%;
  max-width:100%;
  
font-family: 'Rajdhani', sans-serif;
}
h1 {
  font-family: 'Rajdhani', sans-serif;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
  
.answers {
  width:100%;
  height:100%;
  background: #ecf0f1;
  border-bottom:1px solid #2c3e50;
}
.answers p {
  padding-left:1%;
  padding-top:1%;
}

#some-textarea {
  width:80%;
}

.btn-custom {
  position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
  
    font-weight: 700;
    font-size: 1.5em;
    display: block;
    padding: 4px;
    padding-right:0;
    margin-right:0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    width: 160px;
  text-align: center;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  right:0;
  float:right;
}

.btn-custom:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
.btn-custom:hover {
  text-decoration:none;
  color: #fff;
}
.navbar-brand {
  font-family: 'Rajdhani', sans-serif;
}
#heading {
margin-left:32%;
margin-top:5%;
margin-bottom:-5%;
font-family: 'Rajdhani', sans-serif;
font-size:10em;

}

.caps {
  text-transform: uppercase;
}

.default-image {
  width:50px;
  height:50px;
 
}
.top {
  margin-top:3%;

}
.img {
width:100px;
height:100px;
}
#ansuser {
   float:right;
  position:relative;
  right:0;
  margin-top:-3%;
}

.center {
  width:40%;
  margin-left:35%;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }