/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';
html, body {
  height:100%;

}
.center {
  width:50%;
  height:50%;
  margin:0 auto;

}
.profile {
  width:100%;
  
}
.left {
  width:50%;
  float:left;
}
.right {
  width:50%;

}
.answers {
  width:100%;
  background: #E0EBD1;
}

.centerans {
  width:60%;
  height:50%;
  margin:0 auto;

}
#some-textarea {
  width:80%;
}

select {
  padding:1%;
  margin:2%;
}
.search 
{
  width:25%;
  height:100%;
  background:#ccc;
  float:left;
  margin-right:2%;
  margin-top:-2%;

}